*.sqlite*
**/.notes/
**/.notes/**
**/notes/
**/notes/**
!seeders/notes/
!seeders/notes/**
.env*
!.env*.example
!**/.env*.example
**/cache/
**/cache/**
!**/cache/
!**/cache/.gitignore
.vscode/
**/.vscode/
.claude/
**/.claude/
.codex
.codex/
**/.codex
**/.codex/
nohup.out
**/nohup.out
**/nohupt.out
*.bak
*.bak[0-9]*
*.tmp
*.tmp.*
*.swp
*.swo
*~
