*.sqlite*
.env*
!.env*.example
!**/.env*.example
.vscode/
**/.vscode/
.claude/
**/.claude/
.codex
.codex/
**/.codex
**/.codex/
nohup.out
**/nohup.out
**/nohupt.out
*.bak
*.bak[0-9]*
*.tmp
*.tmp.*
*.swp
*.swo
*~
