vendor/
node_modules/
npm-debug.log
*.log
**/*.log
_test*
**/*._test*
.DS_STORE
.git/
.github/
phpstan.neon
jest.config.cjs
babel.config.cjs
nginx/
php/
docker-compose.yml
Dockerfile
.dockerignore
storage/logs/
storage/debugbar/
storage/phpstan/
storage/framework/cache/
storage/framework/sessions/
storage/framework/views/
.env
.env.example
.env.backup
.editorconfig
.styleci.yml
.prettierrc
README.md
README.txt
.prettierignore