# testing

**/dummy__*
dummy__*
**/*__test.js

# security roleplay — black-hat tests NEVER committed
**/black-hat/
!**tests.py
_test.js

# dependencies

node_modules/
**/node_modules/
vendor/
**vendor/
!resources/views/vendor/
!resources/views/vendors/
!resources/views/emails/vendor/
!resources/views/emails/vendors/

# builds

dist/
out/
build/
**/dist/
**/build/
**/out/

# environment

#.env
#**/.env

!env/
!env/**
!**/env/
!**/venv/
!_inc/django/env/
!_inc/django/env/**/
!_inc/django/env/**
pyvenv.cfg

# etc

/.idea
.backup/
.backup/**
.tmp/
.tmp/**
/vendor/srmklive/paypal/tests/Mocks/samples/sample2.pdf
/vendor/srmklive/paypal/tests/Mocks/samples/sample.pdf