includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
    level: 3
    tmpDir: storage/phpstan
    stubFiles:
        - stubs/chatify.stub
    parallel:
        maximumNumberOfProcesses: 8
        processTimeout: 3600.0
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        -
            identifier: missingType.iterableValue
        -
            identifier: missingType.generics
